form(role="form",action="")
    div.form-group
        label(for="user") user
        input(id="user", type="text", class="form-control", placeholder="")
    div.form-group
        label(for="password") password
        input(id="password", type="text", class="form-control", placeholder="")
