extends layout


block CONTENT
  h1 Create a  New Script
  form(role="form",action='/add_script',method='POST')
    div.form-group
      label(for="name_script") Name of script
      input(id="name_script",name='name_script', type="text", class="form-control" , placeholder="Enter script name" , value="#{name}")
    div.row
      div.col-md-6
        h3 Variable env
        textarea(name="var_env",style="width:100%;height:500px")= var_env
      div.col-md-6
        h3 Script BASH
        textarea(name="script_bash",style="width:100%;height:500px")= script_bash
    div.panel.panel-success(style="margin-top:20px")
      div(class="panel-heading") RUN
      div.panel-body
        div.input-group
          input( id="run_args",type="text" ,class="form-control",placeholder="puts arguments")
          span(class="input-group-btn")
            button(onclick="run_script();",class="btn btn-default", type="button") Go!
    
    div.panel.panel-warning(style="margin-top:20px")
      div(class="panel-heading") Check
      div.panel-body
        div.input-group
          input( id="check_args",type="text" ,class="form-control",placeholder="puts arguments")
          span(class="input-group-btn")
            button(onclick="chech_script();",class="btn btn-default", type="button") Go!
   
    button(type="submit" ,style="margin-top: 20px",class="btn btn-lg btn-block btn-success") Save
    script.
      function chech_script()
      {
        var arguments = $("#check_args").val();
        $('#console').modal('show')
        $.post("/check_shaker/"+$('#name_script').val(),{argv: arguments },function(data){
           
          $('#console-content').append(render_plain_text(data));       
        });
        
      }
      function run_script()
      {
        var arguments = $("#run_args").val();
        $('#console').modal('show')
        $.post("/run_shaker/"+$('#name_script').val(),{argv: arguments },function(data){
           
          $('#console-content').append("finish");       
        });
        
      }
      var socket = io.connect();
              socket.on('console-emit',function(data){
                 $('#console-content').append(data.replace(/\n/g, "<br />"));
                 var psconsole = $('#console-content');
                  psconsole.scrollTop(
                    psconsole[0].scrollHeight - psconsole.height()
                  );
              });
