extends layout


block CONTENT
          h2.sub-header Configuration template file
          a(onclick="scan_tpl_folder();")
              span.badge(id="update_tpl_list") Click to scan script folder

          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th template name
                  th 
                  th Option
              tbody
              each hs in data
                tr
                  td #
                  td= hs
                  td
                  td
                    a(href="/edit_conf_file/#{hs}")
                      button.btn.btn-success(style='height:30px') Edit !
                    button.btn.btn-danger(data-toggle="modal" data-target="#console",style='margin-left:10px;height:30px') Delete
            script.
                function scan_tpl_folder()
                {
                    $('#update_tpl_list').text('Updating ...');
                    $.get('/update_tpl_list',function(data){
                        window.location.reload();

                        });
                }

