extends layout


block CONTENT
    h2.sub-header Shaker Scripts
    a(onclick="scan_script_folder();")
        span.badge(id="update_script_list") Click to scan script folder
    div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th script name
                  th 
                  th Option
              tbody
              each hs in data
                tr
                  td #
                  td= hs
                  td
                  td
                    a(href="/edit_script/#{hs}")
                      button.btn.btn-success(style="height:30px") Edit
                    button.btn.btn-danger(data-toggle="modal" data-target="#console",style='margin-left:10px;height:30px') Delete

    script.
        function scan_script_folder()
        {
            $('#update_script_list').text('Updating ...');
            $.get('/update_script_list',function(data){
                window.location.reload();

                });
        }

