
extends ../layout
 

block CONTENT
  h1.page-header Manage_DHCP
            a(href="/cms/edit_module/Manage_DHCP")
                span(class="glyphicon glyphicon-cog pull-right")
  ul(class="nav nav-tabs nav-justified")
            li.active
                a(href="/module/Manage_DHCP/form") New record
            li
                a(href="/module/Manage_DHCP/view") List

  form(role="form",action="/module/Manage_DHCP/post",method='POST')
    div.form-group
      label(for="IP") IP
      input(name="ip", type="text", class="form-control" ,id="ip", placeholder="")
    div.form-group
      label(for="MAC") MAC
      input(name="mac", type="text", class="form-control" ,id="mac", placeholder="")

   
    button(type="submit" ,class="btn btn-success") Save