div.modal-body()
  form(role="form",action="")
    div.form-group
        label(for="user") user
        input(id="user", type="text", class="form-control", placeholder="")
    div.form-group
        label(for="password") password
        input(id="password", type="text", class="form-control", placeholder="")
  div.modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close
      button(onclick="run_script('Network_Device_pull',get_arg_prompt(),0,'Push')",type="button", class="btn btn-primary") OK 


script.
    function get_arg_prompt()
    {
    arg_prompt = arg_prompt +' '+$('#user').val();
    arg_prompt = arg_prompt +' '+$('#password').val();
    
    return arg_prompt
    }