
extends ../layout
 

block CONTENT
  h1.page-header undefined
            a(href="/cms/edit_module/undefined")
                span(class="glyphicon glyphicon-cog pull-right")
  ul(class="nav nav-tabs nav-justified")
            li.active
                a(href="/module/undefined/form") New record
            li
                a(href="/module/undefined/view") List
  div.row
    div.col-md-6
      form(role="form",action="/module/undefined/post",method='POST')
        div.form-group
          label(for="ip") ip
          if(data['ip'] != undefined)
            input(name="ip",value="#{data['ip']}", type="text", class="form-control" ,id="ip", placeholder="")
          else
            input(name="ip", type="text", class="form-control" ,id="ip", placeholder="")
        div.form-group
          label(for="mac") mac
          if(data['mac'] != undefined)
            input(name="mac",value="#{data['mac']}", type="text", class="form-control" ,id="mac", placeholder="")
          else
            input(name="mac", type="text", class="form-control" ,id="mac", placeholder="")
    
        div.form-group
          label(for="gogg") gogg
          if(data['kiki'] != undefined)
            select(name="kiki", type="text", class="form-control" ,id="kiki", placeholder="")
                option(value="#{data['kiki']}") #{data['kiki']}
                option(value='kaka') kaka
                option(value='fofof') fofof
                option(value='dfdfd') dfdfd
          else
            select(name="kiki", type="text", class="form-control" ,id="kiki", placeholder="")
                option(value='kaka') kaka
                option(value='fofof') fofof
                option(value='dfdfd') dfdfd
       
        button(type="submit" ,class="btn btn-success") Save