div.modal-body()
  form(role="form",action="")
    div.form-group
        label(for="user") user
        input(id="user", type="text", class="form-control", placeholder="")
    div.form-group
        label(for="pass") pass
        input(id="pass", type="text", class="form-control", placeholder="")
  div.modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close
      button(onclick="run_script('start_vm',get_arg_prompt(),0,'Start')",type="button", class="btn btn-primary") OK 


script.
    function get_arg_prompt()
    {
    arg_prompt = arg_prompt +' '+$('#user').val();
    arg_prompt = arg_prompt +' '+$('#pass').val();
    
    return arg_prompt
    }