div.modal-body()
  form(role="form",action="")
  div.modal-footer
      button(type="button", class="btn btn-default", data-dismiss="modal") Close
      button(onclick="run_script('start_vm',get_arg_prompt(),0,'Start')",type="button", class="btn btn-primary") OK 


script.
    function get_arg_prompt()
    {
    
    return arg_prompt
    }